@import "tailwindcss";
@import './components/css/badge.css';
@import './components/css/button.css';
@import './components/css/decor/blob.css';
@custom-variant dark (&:where([data-theme=custom-dark], [data-theme=custom-dark] *));

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
  }
}

[data-theme="custom-light"] {
  --background: #ffffff;
  --foreground: #171717;
}

[data-theme="custom-dark"] {
  --background: #000000;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}